@import '/css/root.css';

.footer-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.footer-background-con,
.footer-background-row,
.footer-background-col {
    margin: 0;
    padding: 0;
}

.top-button {
    margin: 3vw auto 8vw auto;
}
.top-button-text {
    color: var(--white);
    margin-top: 15px;
    margin-bottom: -30px;
}

.up-button {
    cursor: pointer;
    width: 3vw;
    transition: top ease 0.5s;
    transition: transform ease 300ms;
}

.up-button:hover {
    transform: translate(0, -10px)
}

.footer-input,
.footer-input a {
    margin: 0;
    padding: 0;
    padding-top: -40px;
    /* margin-top: -40px; */
    color: var(--white);
}

.footer-logo img {
    width: 60%;
}

.footer-icons img {
    width: 30px;
    margin: auto 10px;
}


/* footer media query */
@media (max-width: 1600px) {
    .top-button {
        margin: 3vw auto 7vw auto;
    }
    
}

@media (max-width: 992px) {
    .top-button-text {
        display: none;
    }
}

@media (max-width: 576px) {
    .top-button {
        margin: 3vw auto 8vw auto;
    }
    
    .up-button {
        width: 7vw;
    }
    
    .footer-icons img {
        width: 15px;
    }

    @media (max-width: 576px) {
        .footer-icons img {
            width: 15px;
        }    
    }
    
}