@import '/css/root.css';

.navbar-container {
    margin: 0;
    padding: 0;
}

.offcanvas-header {
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: var(--darkgray);
    padding: 0;
    text-align: end;
}

.navbar-brand img{
    width: 50%;
    margin-top: 10px;
    margin-left: 30px;
}

.menu-icon {
    margin: 10px 20px 0 0;
    padding: 0;
}
.menu-icon:hover {
    color: var(--yellow);
}

.close-button {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

.close-icon {
    color: var(--lightgray);
    transform: rotate(45deg);
    margin: 32px 42px 0 0;
}
.close-icon:hover {
    color: var(--yellow);
    transform: rotate(90deg);
    transition-duration: 500ms;
}

/* navbar menu */

.navbar-nav {
    padding-top: 30vh;
    height: 100vh;
    background-color: var(--darkgray);
    margin-top: -60px;
}

.nav-item {
    height: 10vh;
}

.nav-link {
    color: var(--lightgray);
    height: 10vh;

    font-size: var(--title);
    font-family: var(--playfair-B);
    line-height: 40px;
}

.nav-link:hover {
    color: var(--yellow);
}