@font-face {
    font-family: bold; 
    src: url(/input/fonts/Montserrat/Montserrat-Bold.ttf);}
@font-face {
    font-family: semi;
    src: url(/input/fonts/Montserrat/Montserrat-SemiBold.ttf);}
@font-face {
    font-family: medium;
    src: url(/input/fonts/Montserrat/Montserrat-Medium.ttf);}
@font-face {
    font-family: regular;
    src: url(/input/fonts/Montserrat/Montserrat-Regular.ttf);}
@font-face {
    font-family: light;
    src: url(/input/fonts/Montserrat/Montserrat-Light.ttf);}

@font-face {
    font-family: Playfair-regular;
    src: url(/input/fonts/Playfair/PlayfairDisplay-Regular.ttf);}
@font-face {
    font-family: Playfair-bold;
    src: url(/input/fonts/Playfair/PlayfairDisplay-Bold.ttf);}

:root {
    --darkgray: #383838;
    --lightgray: #AAA;
    --yellow: #F3D250;
    --lightyellow: #FFEBA7;
    --white: #FFF;
    --background: #FBFBFB;

    --title: 5rem;
    --header: 3rem;
    --subheader: 1.75rem;
    --body: 1.25rem;
    --subtitle: 1rem;
    
    --bold: bold;
    --semi: semi;
    --medium: medium;
    --regular: regular;
    --book: light;

    --playfair-R: Playfair-regular;
    --playfair-B: Playfair-bold;

    --width: 75vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: var(--background);
}


/* scrollbar */
*::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #FBFBFB; 
}

::-webkit-scrollbar-thumb {
    background: var(--lightgray); 
}

::-webkit-scrollbar-thumb:hover {
    background: var(--darkgray); 
}
/* scrollbar */

h1 {
  /*  titel  */
  font-size: var(--title);
  font-family: var(--bold);
  color: var(--darkgray);
  padding-bottom: 50px;
  margin: 0;
}

h2 {
    /* header */
    font-size: var(--header);
    font-family: var(--bold);
    color: var(--darkgray);
    margin: 0;
}

h3 {
    /* subheader */
    font-size: var(--subheader);
    font-family: var(--semi);
    color: var(--darkgray);
    margin: 0;
}

h4 {
    /* subheader */
    font-size: var(--body);
    font-family: var(--semi);
    color: var(--darkgray);
    margin: 0;
}

p {
    /* body */
    font-size: var(--body);
    font-family: var(--regular);
    color: var(--darkgray);
    letter-spacing: 1.4px;
    line-height: 23px;
    margin: 0;
}

a {
    /* links */
    text-decoration: none;
    color: var(--darkgray);
    margin: 0;
}

@media (max-width: 992px) {
    :root {
   
        --title: 4rem;
        --header: 2.4rem;
        --subheader: 1.4rem;
        --body: 1rem;
        --subtitle: 0.8rem;
    }
}
@media (max-width: 576px) {
    :root {
   
        --title: 3rem;
        --header: 1.8rem;
        --subheader: 1rem;
        --body: 0.75rem;
        --subtitle: 0.6rem;
    }
}