@font-face {
    font-family: Bebas-bold;
    src: url(/input/fonts/Bebas/BebasNeue-Bold.otf);}
@font-face {
    font-family: Bebas-book;
    src: url(/input/fonts/Bebas/BebasNeue-Light.otf);}
@font-face {
    font-family: Bebas-regular;
    src: url(/input/fonts/Bebas/BebasNeue-Book.otf);}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;
  }

.Front-logo-1 {
    position: relative;
    display: block;
    /* inset: 0; */
    padding: 150px 0 300px 0;
    margin: auto;
}

.Front-logo-2 {
    display: none;
    position: absolute;
    inset: 0;
    margin: auto;
    width: 200px;
    height: auto;
}

.over-fresch {
    display: block;
    position: absolute;
    width: 100%;

}

.over-background {
    display: block;
    position: absolute;
    height: 300px;
    width: 95%;
    background-color: green;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.over-title {
    display: block;
    position: relative;
    font-family: Bebas-bold;
    font-size: 2rem;
    text-align: center;
    color: white;
}