@font-face {
    font-family: Bebas-bold;
    src: url(/input/fonts/Bebas/BebasNeue-Bold.otf);
}
@font-face {
    font-family: Bebas-book;
    src: url(/input/fonts/Bebas/BebasNeue-Light.otf);
}
@font-face {
    font-family: Bebas-regular;
    src: url(/input/fonts/Bebas/BebasNeue-Book.otf);
}

/* -------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* width: 100vw; */
    /* height: 100vh; */
}

.Front-logo-1 {
    display: block;
    position: absolute;
    inset: 0;
    margin: auto;
}
.Front-logo-2 {
    display: none;
    position: absolute;
    inset: 0;
    margin: auto;
    width: 200px;
    height: auto;
}