@font-face {
    font-family: Bebas-bold;
    src: url(/input/fonts/Bebas/BebasNeue-Bold.otf);
}
@font-face {
    font-family: Bebas-book;
    src: url(/input/fonts/Bebas/BebasNeue-Light.otf);
}
@font-face {
    font-family: Bebas-regular;
    src: url(/input/fonts/Bebas/BebasNeue-Book.otf);
}





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* width: 100vw; */
    /* height: 100vh; */
}
/* 
.Top-bar {
    position: relative;
    display: block;
    width: 100vw;
    height: 75px;
    background-color: black;
}

.Top-bar-logo img {
    position: absolute;
    width: auto;
    height: 50px;
    top: 12.5px;
    left: 50px;
} */

.Front-page {
    width: 100%;
    height: 70%;
    display: inline-block;
    position: relative;
}

.Front-logo {
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}